<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}Prototipo Miguel Méndez {% endblock %} </title>
    <link rel="shortcut icon" href="{% static 'images/imgSolvo.ico' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block css %} {% endblock %}
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
        <img width="100px" height="70px" src="{% static 'images/imgSolvo.png' %}"/>
    </div>
         <div class="navbar-header">
          <a class="navbar-brand" href=""> Search cantons</a>
      </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Search districts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Miguel M.</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out </a></li>
    </ul>
  </div>
</nav>


<div class="container">
{% block content%}

{% endblock %}

</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block js %} {% endblock %}
</body>
</html>
