{% extends 'base.html' %}

{% block content%}

<div class="row">
    <div class="col-12 col-md-12">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Cantons</h2>
            </div>
        <form action="{% url 'searchCantons' %}" method="post">
            {% csrf_token %}    
            <div class="col">
                <div class="container">
                    <div class="row searchFilter" >
                        <div class="col-sm-12" >
                        <div class="input-group" >
                            <input id="table_filter" name="searchText" type="text" class="form-control" aria-label="Text input with segmented button dropdown" >
                            <div class="input-group-btn" >
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                <span class="label-icon" >Filter</span> <span class="caret" >&nbsp;</span></button>
                            <div class="dropdown-menu dropdown-menu-right" >
                                <ul class="category_filters" >
                                    <li >
                                        <input checked value="All" class="cat_type category-input" name="radios" type="radio"><label for="all">All</label>
                                    </li>
                                    <li >
                                        <input value="Canton" class="cat_type category-input" name="radios" type="radio"><label for="canton">Canton name</label>
                                    </li>
                                    <li >
                                        <input class="cat_type category-input" value="Province" name="radios" type="radio" ><label for="province">Province</label>
                                    </li>
                                </ul>
                            </div>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="container">
            <table class="table">
                    <thead>
                        <tr>
                            <td>Number</td>
                            <td>Code</td>
                            <td>Canton Name</td>
                            <td>Province code</td>
                            <td>Province name</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if cantonsList %}
                        {% for solicitud in cantonsList %}
                        <tr>
                            <td>{{ solicitud.pk}}</td>
                            <td>{{ solicitud.fields.code}}</td>
                            <td>{{ solicitud.fields.name }} </td>
                            <td>{{ solicitud.fields.province }} </td>      
                            <td>{{ solicitud.provinceName}}</td>                      
                            <td>
                                <a href="{% url 'delete' solicitud.pk %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        {% else %}
                        <h1>There are no records</h1>
                        {% endif %}
                    </tbody>
                </table> 

                {% if cantonsList.has_other_pages %}
                    <ul class="pagination">
                        {% if cantonsList.has_previous %}
                        <li><a href="?page={{ cantonsList.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in cantonsList.paginator.page_range %}
                        {% if cantonsList.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if cantonsList.has_next %}
                        <li><a href="?page={{ cantonsList.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
        </div>
    </div>  
</div>
</div>
{% endblock %}

